<nav class="navbar navbar-expand-lg navbar-dark " style="background-color :lightpink">
    
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/home']"class="nav-link">Home</a>
          </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/espace-formateur']"class="nav-link">Espace Formateur</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/espace-candidat']"class="nav-link" >Espace Candidat</a>
          </li>
    </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
   
  
  </nav>
  
