<app-navbaradmin></app-navbaradmin>
<div class="container">

<router-outlet></router-outlet>

</div>
<form (submit)="addForma()"class="form-horizontal" >

    <h2>Ajouter Formateur</h2>
  
    <div class="form-group">
        <label class="col-lg-2 control-label" >Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" [(ngModel)]="name" name="name">
        </div>
      </div>
    

    <div class="form-group">
      <label class="col-lg-2 control-label" >Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control"[(ngModel)]="email" name="email">
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-lg-2 control-label" >Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control"[(ngModel)]="password" name="password">
      </div>
    </div>
    
    
    
    
      
      <div class="form-group">
        <div class="pull-right">
          <button type="submit" class="btn btn-dark" style="background-color:purple;">Ajouter</button>
        </div>
      </div>
    
